.text-black {
    color: #000;
}
#selected {
    background-color: rgb(125, 125, 125);
}
.cur-p {
    cursor: pointer;
}
.w-90 {
    width: 90%;
}
.h-90 {
    height: 90%;
}
.fs-10p {
    font-size: 10px !important;
}