.text-black {
    color: #000;
}
.selected {
    background-color: #304ffe!important;
}
.cur-p {
    cursor: pointer;
}
.w-90 {
    width: 90%;
}
.h-90 {
    height: 90%;
}
.fs-10p {
    font-size: 10px !important;
}
.cursor-pointer {
    cursor: pointer;
}